#comment-section {
    border-style: solid;
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: 80% !important;
}

#comment-component {
    border-style: solid;
    width: 70% !important;
}

#comments-box {
    border-style: solid; /*NIE CZAJE CO TU SIE DZIEJE DLACZEGO NIE CHCE TEGO USTAWIC W JEDNEJ LINII Z PRAWEJ*/
    display: block;
    width: 90% !important;
    margin-left: auto;
    margin-right: auto;
}