#comment-section {
}

#comment-component {
    background-color: #3b5987;
    width: 50% !important;
    display: block;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 0.5em;
}

#reply-comment-component {
    background-color: #3b5987;
    width: 47% !important;
    display: block;
    margin-left: 28%;
    margin-right: 28%;
    margin-bottom: 0.5em;
}

#comments-box {
    border-style: solid;
    display: block;
    width: 90% !important;
    margin-left: auto;
    margin-right: auto;
}