notice,
#notice {
     border-radius: 25px;
     padding: 2em;
     width: 100%;
     box-shadow: var(--material-shadow-elevation-2dp);
}

#image {
     width: 100%;
     height: auto;
}

#notice-title {
    font: var(--material-font-family)
    font-size: var(--material-h5-font-size);
    margin-bottom: 0;
}

#notice-title:hover {
    text-decoration: underline;
}

#notice-date {
    margin: 0;
}

#body {
}

.truncate-text {
  height: 8em;
  width: 100%;
  overflow: hidden;
}