notice,
#notice {
     border-radius: 25px;
     border: 2px solid #3c597c;
     padding: 2em;
     width: 100%;
     background-color: var(--material-secondary-background-color);
}

#image {
     width: 100%;
     height: auto;  /* nie ma skalowania do tych samych proporcji ale skaluje się do mniejszych rozdzielczosci */
}

#notice-title {
    font-size: 22px;
    font: var(--material-font-family)
    margin-bottom: 0;
}

#notice-title:hover {
    text-decoration: underline;
}

#notice-date {
    margin: 0;
}

#body {
}

.truncate-text {
  height: 8em;
  width: 100%;
  overflow: hidden;
}