notice,
#notice {
     border-radius: 25px;
     border: 2px solid #3c597c;
     padding: 2em;
     width: 80%;
     background-color: #435162;
}

#image {
     width: 100%;
     height: auto;  /* nie ma skalowania do tych samych proporcji ale skaluje się do mniejszych rozdzielczosci */
}

#notice-title {
    font-size: 22px;
    margin-bottom: 0;
}

#notice-title:hover {
    text-decoration: underline;
}

#notice-date {
    margin: 0;
}
