#reservation-view {
}

#chooseFloorBox {
    width: 26.5em;
}

#choosePropertyBox {
    width: 26.5em;
}

#dateTimePicker {
    width: 20em;
}

#confirm-button {
    margin-top: 2.35em;
}
