#header {
  height: var(--material-size-xl);
}
#header view-title {
}
#header user-info {
}
#logout-button {
    /*box-shadow: 0 0 3px #ddd;*/
}
#header span img {
  border-radius: 50%;
  height: var(--material-size-s);
  margin-right: var(--material-space-m);
  overflow: hidden;
  background-color: var(--material-contrast);
}
#header span p {
  font-size: var(--material-font-size-l);
  margin-left: auto;
  overflow: hidden;
}
#header h1 {
  font-size: var(--material-font-size-l);
  margin: 0;
  flex-grow: 0.98;
}
#logo {
  box-sizing: border-box;
  box-shadow: inset 0 -1px var(--material-contrast-10pct);
  padding: var(--material-space-s) var(--material-space-m);
}
#logo img {
  height: calc(var(--material-h1-font-size));
  padding-left: 1rem;
}
#logo h1 {
  font-size: var(--material-font-size-xl);
  font-weight: 600;
  margin: 0 var(--material-space-s);
  padding-left: 1rem;
}

vaadin-tab {
  font-size: var(--material-font-size-s);
  height: var(--material-size-l);
  font-weight: 600;
  color: var(--material-body-text-color);
}

vaadin-tab:hover {
  background-color: var(--material-contrast-5pct);
}

vaadin-tab[selected] {
  background-color: var(--material-primary-color-10pct);
  color: var(--material-primary-text-color);
}
